#test > div {
    width: 30%;
    margin: 5px;
    border: 1px solid grey;
    background: cadetblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
#test {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonAct {
    width: 90%;
    border-radius: 5px;
    border: 4px solid darkcyan;
    background: aqua;
    margin: 5px;
    color: darkcyan;
    font-size: 25px;
}
.right {
    background: lightgreen;
    border: 2px solid green;
}
.mistake {
    background: lightcoral;
    border: 2px solid darkred;
}
.undefined {
    background: khaki;
    border: 2px solid goldenrod;
}
.buttonAct:active {
    background: cadetblue;
}
#wap {
    background: lightgreen;
    border: 3px solid darkgreen;
    height: 200px;
    border-radius: 5px;
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#test {
    margin-top: 100px;
}
#wap > div {
    margin: 10px;
}
#wap > div > input {
    width: 250px;
    height: 20px;
    font-size: 18px;
    font-style: italic;
}
#wap > input {
    display: block;
    width: 50%;
    height: 30px;
    margin: 5px;
    background: aliceblue;
    border-radius: 3px;
    font-size: 15px;
}